/*            <link rel="stylesheet" media="screen and (max-width: 799px)" href="css/vr-max.css"> */
#body {
	background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: relative;
}
.header {
	position: relative;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    display: grid;
}
.titel {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}
#map {
	position: center;
	height: 500px;
	width: 70%;
	margin-top: 50px;
	margin-bottom: 25px;
	box-shadow: 0 4px 8px 0 rgb(9,9,9), 0 6px 20px 0 rgb(9,9,9);
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgb(9,9,9), 0 6px 20px 0 rgb(9,9,9);
	border-radius: 5px
	
}
/* mobil Ansicht*/
/* input[type=checkbox]{
    display: block;
    position: absolute;
    opacity: 0; 
    width: 40px;
    height: 40px;
    -webkit-touch-callout: none;
    cursor: -moz-grab;
}
span{
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px;
    position: relative;
    background: #0c007a;
    border-radius: 5px;
     z-index: 1; 
} */
#button {
    color: #ffffff;
    background-color: #0c007a;
    padding: 8px;
    border: none;
    cursor: pointer;
}
#button:hover, #button:focus {
    color: #0c007a;
    background-color: #ffffff;
    border-width: 20em;
    border-color: #0c007a; 
}

nav{
    position: relative;
    display: inline-block;
}
#dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    overflow: auto;
}
#dropdown a{
    display: flex;
    text-decoration: none;
	text-align: center;
    text-shadow: 0 -1px rgb(0, 0, 0), 1px 0 #111, 0 1px #111, -1px 0 #111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    color: #ffffff;
    background: #0c007a;
    width: 100%;
}
#dropdown a:focus, #dropdown a:hover {
	color: #0c007a;
	background-color: #ffffff;
}
#show {display:block;
}
/*input[type=checkbox]:checked ~ nav ul{
    position: absolute;
    visibility: visible;
}
input[type=checkbox]:checked ~ span{
    background: rgb(0, 0, 0);
} */
#content {
    z-index: 1;
    text-align: center;
}
/* input[type=checkbox]{
    display: block;
    position: absolute;
    opacity: 0; 
    width: 40px;
    height: 40px;
    -webkit-touch-callout: none;
    cursor: -moz-grab;
} */
.footer {
	background-color:#0c007a;
    text-transform: none;
	font-weight: normal;
	font-size: 12px;
    text-shadow: 0 -1px rgb(0, 0, 0), 1px 0 #111, 0 1px #111, -1px 0 #111;
    padding: 0px 10px;
    display: block;
}
.footer ul{
	list-style-type: none;
    overflow: hidden;
    padding-left: 0%;
    white-space: -moz-pre-space;
}
.footer a{
	text-decoration: none;
	color: rgb(255, 255, 255);
    padding: 0px 0px;
}
.footer b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: normal;
    text-decoration: none;
	color: rgb(255, 255, 255);
    padding: 0px 0px;
    margin-bottom: 5px;
}
.footer li{
    float: inherit;
    height: 10px;
}
.footer a:hover,
.footer a:focus{
    color: #0c007a;	
    background: #ffffff;
}


