#body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    text-align: center;
}
.header {
    position: relative;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    font-weight: bolder;
    text-shadow: 4px 4px 4px  #000000;
    z-index: -1;
    margin-bottom: -20px;
}
img {
    width: 100%;
    height: auto;
}
.titel {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0.1em;
}
#map {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgb(9,9,9), 0 6px 20px 0 rgb(9,9,9);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(9,9,9), 0 6px 20px 0 rgb(9,9,9);
    border-radius: 5px;
    z-index: 1;
}
.footer {
    background-color: rgb(38, 38, 150);
    text-transform: none;
    font-weight: normal;
    font-size: 1em;
    padding: 0px 10px;
    display: block;
    z-index: 1;
}
.footer a:hover,
.footer a:focus{
    color:  rgb(38, 38, 150);	
    background: #ffffff;
}
/* mobile view*/
@media screen and (max-width: 799px){
    .button {
        color: #ffffff;
        background-color:  rgb(38, 38, 150);
        padding: 8px;
        border: none;
        cursor: pointer;
        border-style: solid;
        border-color: #ffffff;
        z-index: 1;
    }
    .button:hover, .button:focus {
        color:  rgb(38, 38, 150);
        background-color: #ffffff;
    }
    .navi{
        position: relative;
        display: inline-block;
        float: right;
        padding: 0;
        transform: translate(0%, -100%);
        z-index: 1;
    }
    .dropdown-class {
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        left: -172px;
        top: 23px;
    }
    .dropdown-class ul{
        list-style: none;
    }
    .dropdown-class a{
        list-style: none;
        display: flex;
        text-decoration: none;
        text-align: center;
        text-shadow: 0 -1px rgb(0, 0, 0), 1px 0 #111, 0 1px #111, -1px 0 #111;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        font-weight: normal;
        padding: 10px 20px;
        color: #ffffff;
        background:  rgb(38, 38, 150);
        width: 100%;
    }
    .dropdown-class a:focus, .dd a:hover {
        color:  rgb(38, 38, 150);
        background-color: #ffffff;
    }
    .show {
        display:block;
    }
    h1 {
        text-align: center;
    }
    #content {
        padding: 5px 5px 0 5px;
        text-align: left;
        background-color: #ffffff;
    }
    .footer ul{
        list-style-type: none;
        overflow: hidden;
        padding-left: 0%;
        white-space: -moz-pre-space;
    }
    .footer a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0px 0px;
    }
    .footer b{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 0px 0px;
        margin-bottom: 5px;
    }
    .footer li{
        float: inherit;
        height: 10px;
    }
}
/*Bildschirmansicht*/
@media screen and (min-width: 800px){
    .button{
        visibility: hidden;
        position: absolute;
        z-index: 1;
    }
    .navi {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: bolder;
        width: 100%;
        padding: 10px 0px;
        background:  rgb(38, 38, 150);
        color: rgb(255, 255, 255);
        z-index: 1;
    }
    .navi ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .navi li {
        display: inline;
        list-style: none;
        overflow: hidden;
    }
    .navi a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        padding: 10px 35px;  
    }
    .navi a:focus,
    .navi a:hover{
        color:  rgb(38, 38, 150);
        background-color: #ffffff;
    }
    h1 {
        text-align: center;
    }
    #content {
        padding: 20px 20px 0 20px;
        z-index: 1;
        text-align: left;
        background-color: #ffffff;
    }
    .footer ul{
        list-style-type: none;
        overflow: hidden;
        padding-left: 0%;
    }
    .footer a{
        text-decoration: none;
        display: block;
        color: rgb(255, 255, 255);
        padding: 10px 10px;
        float: left;
    }
    .footer b{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        text-decoration: none;
        display: block;
        color: rgb(255, 255, 255);
        padding: 10px 0px;
        float: right;
    }
}






